@tailwind base;
@tailwind components;
@tailwind utilities;
.bg1{
    background-image: url(./bg.png);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2{
    background-image: url(../bg\ \(1\).png);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
}